<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <itemWebApiGetProperties>
        <processor type="Sitecore.Support.ItemWebApi.Pipelines.GetProperties.GetProperties, Sitecore.Support.170069"
                   patch:instead="processor[@type='Sitecore.ItemWebApi.Pipelines.GetProperties.GetProperties, Sitecore.ItemWebApi']" />
      </itemWebApiGetProperties>
    </pipelines>
    <sitecore.experienceeditor.speak.requests>
      <request
        type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.Breadcrumb.GetBreadcrumbStructure, Sitecore.Support.170069"
        name="ExperienceEditor.Breadcrumb.GetStructure"
        patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.Breadcrumb.GetBreadcrumbStructure, Sitecore.ExperienceEditor.Speak.Ribbon']" />
      <request
        type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.Breadcrumb.GetChildItems, Sitecore.Support.170069"
        name="ExperienceEditor.Breadcrumb.GetChildItems"
        patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.Breadcrumb.GetChildItems, Sitecore.ExperienceEditor.Speak.Ribbon']" />
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>